.legend {

  background-color: #F5F5F5;
  border: 1px solid #ECE9E9;
  padding: 5px 10px 5px 10px;
  margin-top:5px;

}

.next-action {

  margin-top:30px;

}
.posetive-green {
    color:#477158;
}

.col1
{
    float: left;
    width: 57%;
}

.col2
{
    float: left;
    width: 24%;
}
.col3
{
    float: left;
    width: 10%;
}

.cartWrapper {
    margin-top:10px;
    font-size: small;
}

.quantity-selector {

    margin:7px

}
.quantity {
    width: 60px;
}
.removeRow-icon {
  cursor: pointer;

}
.last{
    float: right;
    width: 3%;
}
.row{
    border: 1px solid #eee;
    height: auto;
    overflow: auto;
    padding:0px 5px 0px 10px;
    margin: 5px 0px 5px 0px;
}
