.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.page {
  margin-top:80px;
  font-family: 'Source Sans Pro', sans-serif;
}

header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  Z-INDEX: 1000;
  height: 60px;
  background-color: rgb(61, 68, 78);
  color: #ccc;
}
